<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="logging.path" source="logging.path"
                    defaultValue="/var/log/automi/lead-crawling"/>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashAccessEncoder">
            <customFields>
                {"app_name":"lead-crawl-service","log_type":"access"}
            </customFields>
            <fieldNames>
                <fieldsRequestHeaders>@fields.request_headers</fieldsRequestHeaders>
                <fieldsResponseHeaders>@fields.response_headers
                </fieldsResponseHeaders>
            </fieldNames>
            <lowerCaseHeaderNames>true</lowerCaseHeaderNames>
            <timeZone>UTC</timeZone>
        </encoder>
    </appender>
    <appender-ref ref="consoleAppender"/>

    <appender name="dailyRollingFileAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.path}/lead-crawl-service-access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>${logging.path}/lead-crawl-service-access.%d{dd-MM-yyyy}.log
            </FileNamePattern>

            <!-- keep 15 days' worth of history -->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashAccessEncoder">
            <customFields>
                {"app_name":"lead-crawl-service","log_type":"access"}
            </customFields>
            <fieldNames>
                <fieldsRequestHeaders>@fields.request_headers</fieldsRequestHeaders>
                <fieldsResponseHeaders>@fields.response_headers
                </fieldsResponseHeaders>
            </fieldNames>
            <lowerCaseHeaderNames>true</lowerCaseHeaderNames>
            <timeZone>UTC</timeZone>
        </encoder>
    </appender>

    <appender-ref ref="dailyRollingFileAppender"/>

</configuration>
